<div class="card medium" >
    <div class="card-image small" (click)="details()">
        <img [src]="post.imageUrl" *ngIf="!!post.imageUrl">
        <span class="card-title">
            <h2>{{post.title}}</h2>
        </span>
    </div>
    <div class="card-content">
        <div class="chip" *ngFor="let tag of post.tags">
            <span>#{{tag}}</span>
        </div>

        <div class="chip right">
            <img [src]="post.author.avatarUrl" class="circle responsive-img" *ngIf="showAvatar">
            <span *ngIf="!!post.author">{{post.author.name}}</span>
        </div>
    </div>
</div>