<div class="row">
    <div class="col m12">

        <!--post-->
        <div class="card medium" *ngFor="let post of posts">
            <div class="card-image small" *ngIf="!!post.imageUrl">
                <img [src]="post.imageUrl">
                <span class="card-title">
                    <h2>{{post.title}}</h2>
                </span>
            </div>
            <div class="card-content">
                <p>{{post.brief}}</p>
            </div>
            <div class="card-action">
                <div class="chip" *ngFor="let tag of post.tags">
                    #{{tag}}
                </div>

                <div class="chip right">
                    <img src="http://www.miniminiplus.pl/img/postacie/bob-budowniczy-glowa.png" class="circle responsive-img" alt="{{post.author}}">                    {{post.author}}
                </div>
            </div>
        </div>
        <!---->

    </div>
</div>